*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --illusion: #f89fca;
    --geraldine: #fb8c82;
    --vanilla-ice: #f4dedf;
    --kobi: #eca4e4;
    --mobster: #736d7c;
    --gravel: #534d54;
    --shady-lady: #aa9ca8;
    --strikemaster: #8c5c80;
    --viola: #c484a9;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

header{
    display: flex;
    background-color: #ff99c1   ;
    height: 6rem;
    width: 100vw;
    align-items: center;
    position:fixed;
}

.logo{
    /* width: 10rem; */
    /* padding: 1rem; */
    margin-left: 2rem;
    height: 6rem;
}

.buttons{
    padding: 2rem;
    display: flex;
    /* margin-left: auto; */
}


.buttons button{
    background: none;
    border: none;
    margin: 1rem;
}

.carrito{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    /* background-color: blue; */
    margin-left: auto;
    height: 6rem;
}

.carrito:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3.1rem 0 0; 
    background-color: rgba(255, 0, 0, 0.755);
    margin-left: auto;
    height: 5.7rem;
    border-radius: 50%;
    width: 5.6rem;
}

.carrito button{
    position:static;
}


.carrito button{
    background: none;
    border: none;
    margin: 1rem;
}

.img-carrito{
    padding: 1.2rem;
    height: 6rem;
}

.cantidad_p{
    background: white;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 2px;
    margin: 0 1.2rem 0 1.2rem;
    font-size: 1.8rem;
}

.menos-mas {
    background: white;
    border: none;
    height: 2rem;
    border-radius: 5px;
    padding: 0 0.8rem 0 0.8rem;
}

.menos-mas:hover{
    border: solid black 1px;
    border-radius: 2px;
    background-color: rgba(0, 0, 255, 0.386);
}

.talla{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.talla input{
    
}

/* .talla button{
    background-color: whitesmoke;
    border: none;
    height: 1rem;
    width: 2rem;
} */

/* .talla button:checked{
   border: solid green 2px;
} */

.talla-precio{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.6rem;
}

main{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fake-header{
    background-color: rgb(1, 17, 12); 
    height: 6rem;
    width: 100vw;
  
}

.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 80vw;
    background-color: none;
    /* background-color:  var(--shady-lady); */
}

.carousel img{
    height: 60vh;
    width: 100vw;
    /* object-fit: cover; */
}

.carousel {
    /* max-width: 900px; */
    margin: 0 auto;
    display: flex;
}

#imagen {
    width: 100%;
    height: 70vh;
}


.redes{
    margin-top: 0.5rem;
    height: 8rem;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.876);
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes input{
    height: 5rem;
    margin: 2rem;
}

.products{
    display: flex;
    width: 80vw;
    height: 80vh;
    flex-direction: column;
}

.products-3{
    display: flex;
    justify-content: center;
}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    height: 36rem;
    width: 30rem ;
    background: whitesmoke;
    border-radius: 20px;
   
}

.producto:hover{
    border: solid #f89fca;
    border-radius: 20px;
    border-width: 2px;
}

.producto figure{
    margin: 1rem;
    display: flex;
    justify-content: center;
    height: 60%;
}

.producto figure img{
    height: 100%;
    background-size: cover;
   
}

.producto figure img:hover{
    border: solid black;
    border-width: 1px;
    border-radius: 20px;
}

.masmenos{
    margin: 1rem;
    display: flex;
}

footer{
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.876);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.social{
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.social span{
    padding: 0.3rem;
}

.about{
    text-align: justify ;
    width: 30vw;
}