<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebDog</title>
    <link rel="stylesheet" href="../static/css/about-general.css">
</head>
<body>
    <header>
        <!-- <img src="" alt=""> -->
        <h1 class="logo">WebDog</h1>
        <nav class="buttons">  
                <button onclick="location.href='../index.html'">Home</button>
                <button>Shopping</button>
                <button>About Us</button>
                <button onclick="location.href='./contact-us.html'">Contact</button>
        </nav>  
        <div class="carrito">
            <button onclick="location.href='./carrito.html'" ><h2>Carrito</h2></button>
        </div>
    </header>
    <div class="fake-header">
    </div>

    <main>
        <section class="contenedor">
            <div class="pregunta">
                <h1>¿Quienes somos?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam officiis quo molestias veniam! Harum eligendi odit beatae magni laboriosam, deserunt natus fugit delectus vel quas et perferendis quos repellat incidunt.
                </p>
            </div>
            <div class="pregunta">
                <h1>¿De done son?</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil magni labore enim numquam. Repudiandae odio in perferendis suscipit dignissimos molestias quos cum voluptatum! Quisquam excepturi in doloremque rerum vero eveniet.</p>
            </div>
            <div class="pregunta">
                <h1>Mision</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae facere adipisci placeat maxime, a distinctio, vel accusamus harum rem molestias optio incidunt possimus voluptas. Quis mollitia alias necessitatibus aspernatur hic.
                Blanditiis ipsa cupiditate optio obcaecati fugiat in magnam accusantium delectus quidem rerum provident, cum iste molestiae dolores commodi temporibus similique veniam. Eligendi esse atque repellendus rem error eos ullam fugit.
                Fugiat perspiciatis fugit minus culpa ratione vero quis modi quos accusantium, fuga nesciunt numquam ipsam ducimus beatae velit, in accusamus nihil at neque eos facere ab. Corrupti perferendis illum neque!</p>
            </div>
        </section>
    </main>
    <footer>
        <div class="social">
            <span>Facebook</span>
            <span>Instagram</span>
            <span>Mercado Libre</span>
            <span>Whatasap</span>
            <span>Correo Electronico</span>
        </div>
        <div class="about">
            <p>Somos una pyme de la region del Biobio. Nuestra mision es entregar los mejores prouctos para tu mascota. nvianos una foto de tu mascota con uno de nustro productos y saldra en la portada de la pagina. Gracias el apoyo!</p>
        </div>
    </footer>
    
</body>
</html>