<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="../static/css/carrito-general.css">
</head>
<body>
    <header>
        <!-- <img src="" alt=""> -->
        <h1 class="logo">WebDog</h1>
        <nav class="buttons">  
                <button onclick="location.href='../index.html'">Home</button>
                <button>Shopping</button>
                <button onclick="location.href='./about.html'">About Us</button>
                <button onclick="location.href='./contact-us.html'">Contact</button>
        </nav>  
        <div class="carrito">
            <button ><h2>Carrito</h2></button>
        </div>
    </header>
    <!-- <main>
        <div class="shopping-cart-items shoppingCartItemsContainer">

        </div>
    </main>
    <script src="carrito.js"></script> -->
</body>
</html>