<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/Logo.ico">
    <title>Woolfluff</title>    
    <link rel="stylesheet" href="../static/css/index-general.css">
    <link rel="stylesheet" media="only screen and (max-width: 768px)" href="../static/css/index-768.css">
    <link rel="stylesheet" media="only screen and (max-width: 320px)" href="../static/css/index-320.css">
</head>
<body>
    <header>
        <img class="logo" src="../static/img/Logo.jpg" alt="Logo Woolfluff">
        <!-- <h1 class="logo">WebDog</h1> -->
        <nav class="buttons">  
                <button onclick="location.href='./index.html'">Home</button>
                <button>Shopping</button>
                <button onclick="location.href='./about.html'">About Us</button>
                <button onclick="location.href='./contact-us.html'">Contact</button>
        </nav>  
        <div class="carrito">
            <button onclick="location.href='./carrito.html'" ><img class="img-carrito" src="../static/img/carrito.png" alt=""></button>
        </div>
    </header>
    
    <div class="fake-header">
    </div>

    <main>
      
        <!-- <div id="slide-container"> -->
            <div class="carousel">
                <button id="retroceder">atras</button>
                <!-- <div id="imagen"></div> -->
                <img id="imagen">
                <button id="avanzar">adelante</button>
            </div>  
        <!-- </div> -->
        

        <div class="redes">
            <!-- <span>Facebook</span> -->
            <input type="image" src="../static/img/hogar.png">
            <!-- <span>Instagram</span> -->
            <input type="image" src="../static/img/hogar.png">
            <!-- <span>Mercado Libre</span> -->
            <input type="image" src="../static/img/hogar.png">
        </div>
        <section class="products">
            <div class="products-3">
                <div class="producto">
                    <figure>
                        <img src="../static/img/hogar.png" alt="">
                    </figure>
                    <h2>Producto Generico</h2>
                    <div class="masmenos">
                        <button>-</button>
                        <div> 0 </div>
                        <button>+</button>
                    </div>
                    <button>Agregar al Carrito</button>
                </div>
                <div class="producto">
                    <figure>
                        <img src="../static/img/hogar.png" alt="">
                    </figure>
                    <h2>Producto Generico</h2>
                </div>
                <div class="producto">
                    <figure>
                        <img src="../static/img/hogar.png" alt="">
                    </figure>
                    <h2>Producto Generico</h2>
                </div>
            </div>  
            <div class="products-3">
                <div class="producto">
                    <figure>
                        <img src="../static/img/hogar.png" alt="">
                    </figure>
                    <h2>Producto Generico</h2>
                </div>
                <div class="producto">
                    <figure>
                        <img src="../static/img/hogar.png" alt="">
                    </figure>
                    <h2>Producto Generico</h2>
                </div>
                <div class="producto">
                    <figure>
                        <img src="../static/img/hogar.png" alt="">
                    </figure>
                    <h2>Producto Generico</h2>
                </div>
            </div>  
            <div class="products-3">
                <div class="producto">
                    <figure>
                        <img src="../static/img/hogar.png" alt="">
                    </figure>
                    <h2>Producto Generico</h2>
                </div>
                <div class="producto">
                    <figure>
                        <img src="../static/img/hogar.png" alt="">
                    </figure>
                    <h2>Producto Generico</h2>
                </div>
                <div class="producto">
                    <figure>
                        <img src="../static/img/hogar.png" alt="">
                    </figure>
                    <h2>Producto Generico</h2>
                </div>
            </div>  
        </section>
    </main>
    <footer>
        <div class="social">
            <span>Facebook</span>
            <span>Instagram</span>
            <span>Mercado Libre</span>
            <span>Whatasap</span>
            <span>Correo Electronico</span>
        </div>
        <div class="about">
            <p>Somos una pyme de la region del Biobio. Nuestra mision es entregar los mejores prouctos para tu mascota. nvianos una foto de tu mascota con uno de nustro productos y saldra en la portada de la pagina. Gracias el apoyo!</p>
        </div>
    </footer>
    <script src="/index.js"></script>
</body>
</html>